:root, [theme="light"] {
    --body-txt-color: black;
    --bg-color: rgb(255,255,255);
    --feed-brd-color: rgba(0,0,0,0.5);
    --menu-bg-color: rgb(224,224,224);
    --menubox-bg-color: rgb(197,197,197);
    --icon-color: rgb(255,255186,255);
    --takepic-bg-color: rgb(63,251,71);
    --startRec-bg-color: rgb(251,71,63);
    --recPastSecs-bg-color: rgb(251, 129, 63);
    --disabled-button-bg-color: gray;
    --disabled-button-opacity: 0.2;
}

[theme="dark"] {
    --body-txt-color: rgb(200,200,200);
    --bg-color: rgb(12,12,12);
    --feed-brd-color: rgb(0,0,0);
    --menu-bg-color: rgb(35,35,35);
    --menubox-bg-color: rgb(64,64,64);
    --icon-color: rgb(240,240,240);
    --takepic-bg-color: rgb(54, 168, 48);
    --startRec-bg-color: rgb(186,54,60);
    --recPastSecs-bg-color: rgb(210, 108, 53);
    --disabled-button-bg-color: gray;
    --disabled-button-opacity: 0.2;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: var(--bg-color);
    color: var(--body-txt-color);
}

#container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
}

#feed {
    width: 72%;
    margin: 1% .5% 1% 1%;
    float: left;
    border: solid 2px var(--feed-brd-color);
    box-sizing: border-box;
    border-radius: 10px;
}

#menu {
    width: 25%;
    margin: 1% 1% 1% .5%;
    padding: 1%;
    float: right;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--menu-bg-color);
    text-align: center;
}

#menuHeader {
    display: flex;
    margin-bottom: 3%;
    width: 100%;
}

#title {
    height: 100%;
    width: 60%;
    text-align: center;
}

#localTimeCont {
    flex-grow: 1;
    opacity: .8;
    display: grid;
	align-items: center;
}

#localTime {
    margin: 0;
}

#params {
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.menuBox {
    background-color: var(--menubox-bg-color);
    border-radius: inherit;
    box-sizing: border-box;
    margin: 0;
}

#takePic {
    background-color: var(--takepic-bg-color);
    color: var(--icon-color);
    font-size: 190%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1;
    padding: 10%;
    border: none;
    margin: auto;
    width: 93%;
    height: 93%;
    animation-name: btnPress;
    transition: width .1s, height .1s;
}

#takePic:not(:active) {
    width: 100%;
    height: 100%;
}

#startRec {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    background-color: var(--startRec-bg-color);
}

#startRec::before, #startRec::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background-color: var(--startRec-bg-color);
    color: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#startRec::before {
    content: "\f03d";
    font-size: 250%;
}

#startRec::after {
    content: "\f0c8";
    font-size: 220%;
    transform: translateX(100%);
}

#startRec.startRecBlinking::after {
    animation: blink 1s step-start infinite;
    transform: translateX(0);
}

#startRec.startRecBlinking::before {
    animation: blink 1s step-start infinite;
    transform: translateX(-100%);
}

@keyframes blink{
    50% {
        background-color: var(--startRec-bg-color);
        color: var(--icon-color);
    }
    100% {
        background-color: var(--icon-color);
        color: var(--startRec-bg-color);
    }
}

#recPastSecs {
    background-color: var(--recPastSecs-bg-color);
    color: var(--icon-color);
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 4;
    grid-row: 1;
    padding: 10%;
    border: none;
    margin: auto;
    width: 93%;
    height: 93%;
    animation-name: btnPress;
    transition: width .1s, height .1s;
}

#recPastSecs:not(:active) {
    width: 100%;
    height: 100%;
}

#recPastSecs.unclickable {
    pointer-events: none;
    animation: disableButton .15s linear forwards;
    animation-direction: alternate;
}

@keyframes disableButton {
    100% {
        background-color: var(--disabled-button-bg-color);
        opacity: var(--disabled-button-opacity);
    }
}

#histVids {
    margin-top: 10px;
    padding: .5em .75em .75em .75em;
    width: 100%;
    max-height: 9.1em;
    overflow: hidden;
    overflow-y: scroll;
}

#histList {
	margin: 0;
	padding: 0;
    width: 100%;
}

.histListElem {
    width: 100%;
    margin: .5em 0;
    vertical-align: center;
}

.date {
    width: 20%;
}
.hour {
    width: 20%;
}
.size {
    text-align: right;
}

td {
    /*border: solid white 1px;*/
}

tr:hover {
    border: solid white 1px;
    background-color: red;
}

.streamTime {
    color: rgb(251,71,63);
}

.latency {
    color: rgb(63,71,251);
}