<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}"/>
    <title>camera preview</title>
    <script>
        function setTheme(dark) {
            if (dark) {document.documentElement.setAttribute('theme', 'dark');}
            else {document.documentElement.setAttribute('theme', 'light');}
        }
        const darktheme = window.matchMedia("(prefers-color-scheme: dark)");
        setTheme(darktheme.matches);
        darktheme.addListener(theme => {setTheme(theme.matches);});

        var recording = false;

        function flipBlinking(element) {
            recPastSecs = document.getElementById('recPastSecs');
            if (recording === true) {
                document.getElementById('download_vid').click();
                element.className = "menuBox";
                recPastSecs.className = "menuBox";
                recPastSecs.disabled = false;
                recording = false;
            } else {
                var req = new XMLHttpRequest();
                req.onreadystatechange =
                    function() {
                        if(this.readyState == 4 && this.status == 200){
                            element.className = "menuBox startRecBlinking";
                            recPastSecs.className = "menuBox unclickable";
                            recPastSecs.disabled = true;
                            recording = true;
                        }
                    };
                req.open("GET", '{{ url_for("download_current_vid") }}');
                req.send();
            }
            console.log(recPastSecs.disabled);
        }

        function downloadImg() {
            document.getElementById('download_img').click();
        }
        function downloadVid(element) {
            flipBlinking(element)
        }
        function downloadPastVid() {
            document.getElementById('download_pastvid').click();
        }
        function download_nthfile(fileID) {
            var button = document.getElementById('download_nthfile');
            var url = '{{url_for("download_nthfile")}}' + '?fileID=' + fileID;
            button.setAttribute('href',url);
            button.click();
        }
        function delete_nthfile(fileID) {
            if (confirm("Êtes-vous bien sûr de vouloir supprimer l'enregistrement n°"+fileID) === true) {
                var button = document.getElementById('delete_nthfile');
                var url = '{{url_for("delete_nthfile")}}' + '?fileID=' + fileID;
                var req = new XMLHttpRequest();
                req.onreadystatechange =
                    function() {
                        if(this.readyState == 4 && this.status == 200){
                            location.reload();
                        }
                    };
                req.open("GET", url);
                req.send();
            }
        }

        const filesDetails = Array.from(JSON.parse('{{ dataHistJson|safe }}'));
        function displayFileDetails() {
            var element = document.getElementById('fileDetails');
            element.classList.add("fileDetailsDisplay");
        }
        function getFileDetails(fileID) {
            displayFileDetails();
            document.getElementById('histDownload').setAttribute('onclick','download_nthfile('+ fileID +');');
            document.getElementById('histDelete').setAttribute('onclick','delete_nthfile('+ fileID +');');

            fileID = filesDetails.length - fileID - 1;
            var fileDetails = filesDetails[fileID];
            document.getElementById('fileDetailsID').innerHTML = "n°"+fileDetails[0];

            if (fileDetails[5] === 1) {
                document.getElementById('fileDetailsAuto').innerHTML =
                    "<p style='line-height: .8em;margin: .2em 0 0 0;'>manuel <br/>" +
                    "<span class='fileDetailsCaption' style='text-decoration: line-through;'>auto</span></p>";
            } else {
                document.getElementById('fileDetailsAuto').innerHTML =
                    "<p style='line-height: .8em;margin: .2em 0 0 0;'>auto <br/>" +
                    "<span class='fileDetailsCaption' style='text-decoration: line-through;'>manuel</span></p>";
            }

            document.getElementById('fileDetailsPeople').innerHTML =
                fileDetails[6] + '<i class="fas fa-person fa-xs" style="margin-left: 2px;"></i>';

            document.getElementById('fileDetailsPets').innerHTML =
                fileDetails[7] + '<i class="fas fa-paw fa-2xs" style="margin-left: 2px;"></i>';
        }
    </script>
    <script src="https://kit.fontawesome.com/e4d944b0e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <img src="{{ url_for('video_feed') }}" id="feed">
        <div id="menu">
            <div id="menuHeader">
                <div id="title">
                    <h3>Caméra de<br> Surveillance</h3>
                </div>
                <div id="localTimeCont">
                    <p id="localTime"></p>
                </div>
            </div>
            <div id="params">
                <button class="menuBox" id="takePic" onclick='downloadImg()'><i class="fas fa-camera"></i></button>
                <button class="menuBox" id="startRec" onclick="downloadVid(this)"></button>
                <button class="menuBox" id="recPastSecs" onclick="downloadPastVid()"><i class="fas fa-video fa-sm"></i></button>
            </div>
            {% if dataHist %}
            <div class="menuBox" id="histVids">
                <table id="histList">
                    <tbody>
                    {% for i in dataHist %}
                        <tr class="histListElem" onclick="getFileDetails('{{ i[0] }}')">
                            <td class="histListId">{{ i[0] }}</td>
                            <td class="histListSize">{{ i[3] }}</td>
                            <td class="histListType">
                            {% if i[4] == 0 %}
                                <i class="fas fa-camera"></i>
                            {% else %}
                                <i class="fas fa-video fa-sm"></i>
                            {% endif %}
                            </td>
                            <td class="histListDate">{{ i[1] }}</td>
                            <td class="histListHour">{{ i[2] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="menuBox" id="fileDetails">
                <table id="fileDetailList">
                    <tbody>
                        <tr>
                            <td class="borderCell"></td>
                            <td id="fileDetailsID"></td>
                            <td id="fileDetailsAuto"></td>
                            <td id="fileDetailsPeople"></td>
                            <td id="fileDetailsPets"></td>
                            <td class="borderCell"></td>
                        </tr>
                        <tr>
                            <td id="histDownload" colspan="4"><i class="fas fa-cloud-arrow-down fa-sm"></i></td>
                            <td id="histDelete"   colspan="2"><i class="fas fa-trash fa-sm"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
    <a id='download_img' href='{{url_for("download_current_img")}}' download style="visibility: hidden"></a>
    <a id='download_vid' href='{{url_for("download_current_vid")}}' download style="visibility: hidden"></a>
    <a id='download_pastvid' href='{{url_for("download_past_vid")}}' download style="visibility: hidden"></a>
    <a id='download_nthfile' href='{{url_for("download_nthfile")}}' download style="visibility: hidden"></a>
    <script>
        const dateOpt = {day: 'numeric', month: '2-digit', year: 'numeric'};
        const hourOpt = {second:'2-digit', minute:'2-digit', hour:'numeric'};
        setInterval(function() {
            let localTime  = new Date();
            var date = localTime.toLocaleString('fr-FR', dateOpt);
            var hour = localTime.toLocaleString('fr-FR', hourOpt);
            document.getElementById('localTime').innerHTML = hour+"\n"+date;
        }, 1000);
    </script>
</body>
</html>