<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}"/>
    <title>camera preview</title>
    <script>
        function setTheme(dark) {
            if (dark) {document.documentElement.setAttribute('theme', 'dark');}
            else {document.documentElement.setAttribute('theme', 'light');}
        }
        const darktheme = window.matchMedia("(prefers-color-scheme: dark)");
        setTheme(darktheme.matches);
        darktheme.addListener(theme => {setTheme(theme.matches);});

        var recording = false;

        function flipBlinking(element) {
            recPastSecs = document.getElementById('recPastSecs');
            if (recording === true) {
                document.getElementById('download_vid').click();
                element.className = "menuBox";
                recPastSecs.className = "menuBox";
                recPastSecs.disabled = false;
                recording = false;
            } else {
                new Image().src = '{{ url_for("download_current_vid") }}';
                element.className = "menuBox startRecBlinking";
                recPastSecs.className = "menuBox unclickable";
                recPastSecs.disabled = true;
                recording = true;
            }
            console.log(recPastSecs.disabled);
        }

        function downloadImg() {
            document.getElementById('download_img').click();
        }
        function downloadVid(element) {
            flipBlinking(element)
        }
        function downloadPastVid() {
            document.getElementById('download_pastvid').click();
        }
    </script>
    <script src="https://kit.fontawesome.com/e4d944b0e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <img src="{{ url_for('video_feed') }}" id="feed">
        <div id="menu">
            <h3 id="title">Live Streaming</h3>
            <p id="localTime">rxtcyvub</p>
            <div id="params">
                <button class="menuBox" id="takePic" onclick='downloadImg()'><i class="fas fa-camera"></i></button>
                <button class="menuBox" id="startRec" onclick="downloadVid(this)"></button>
                <button class="menuBox" id="recPastSecs" onclick="downloadPastVid()"><i class="fas fa-video fa-sm"></i></button>

                <div class="menuBox" id="histVids"></div>
            </div>
                <script>
                    const options = {second:'2-digit', minute:'2-digit', hour:'numeric', day: 'numeric', month: '2-digit', year: 'numeric'};
                    setInterval(function() {
                        let localTime  = new Date();
                        var datetime = localTime.toLocaleDateString('fr-FR', options)
                        document.getElementById('localTime').innerHTML = datetime;
                    }, 1000);
                </script>
        </div>
    </div>
    <a id='download_img' href='{{url_for("download_current_img")}}' download style="visibility: hidden"></a>
    <a id='download_vid' href='{{url_for("download_current_vid")}}' download style="visibility: hidden"></a>
    <a id='download_pastvid' href='{{url_for("download_past_vid")}}' download style="visibility: hidden"></a>
</body>
</html>